@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	background-color: #2a2f3f;
	background: url(/img/show.jpg) no-repeat;
	background-size: cover;
	letter-spacing: 0.1em;
	color: #f6f7f9;
}

header {
	display: grid;
	width: 100%;
	grid-template-columns: 80% 20%;
}

header div {
	padding: 2em;
	padding-left: 10%;
	letter-spacing: 0.3em;
}

header div span {
	color: #bccf31;
}

header nav {
	padding: 2em;
	padding-right: 10%;
	text-align: center;
}
