#about {
    width: 100%;
    margin-top: 3rem;
    height: calc(100vh - 4rem);
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.about-text h1 {
    padding-top: 2rem;
}

.about-text p {
    padding: 2rem;
}

.skill h1 {
    text-align: center;
}

.skill-box-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding-top: 3rem;
}

.skill-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    aspect-ratio: 1 / 1;
    background: #3D3E42;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background 500ms ease;
}

.skill-box:hover {
    background: orange;
}

.skill-box i {
    font-size: 6rem;
}