nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    padding: 0 1rem;
}